.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: #fff;
  min-height: 40px;
}

.selectedOptions {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.wrapper:focus {
  border-color: hsl(200, 100%, 50%);
  outline: none;
}

.arrowWrapper {
  display: flex;
  cursor: pointer;
}

.arrow {
  width: 16px;
  height: 16px;
}

.arrowRotate {
  transform: rotate(180deg);
}

.placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #c1c1c1;
}
