.inputWrapper {
  position: relative;
  width: 100%;
  padding: 16px 16px 0;
  margin-bottom: 2px;
}

.searchIcon {
  position: absolute;
  top: 60%;
  left: 28px;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px 12px 10px 34px;
  border-radius: 10px;
  background: var(--black-primary-100);
}

.input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--black-primary-300);
}

.input:focus {
  border: 1px solid hsl(200, 100%, 50%);
  outline: none;
}
